# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Logicus.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Hectic\Projects\Logicus\Logicus\Logicus\.idea\.idea.Logicus\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
